<!doctype html>
<html>
    <head>
        <script src="https://d3js.org/d3.v5.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <title>Watch my plant</title>
    </head>
    <body>
        <div class="jumbotron text-center"><h1>Hi, check out my plants!</h1></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-8">These are time series graphs displaying the watering status of my chili plants over the last two days.
            <br>The Y-axis is kind of arbitrary; it displays the raw ADC value from my sensors.
            <br>
            <br> For reference, between 400 and 750 is a healthy range, and 100 outside of these my plants are hurting :c
            <br> The plants should get automatically watered at 450, assuming there is a pump connected to that plant, and that there's water in the tank.
            <br> <br> In short, the system stack is MQTT -> Prometheus -> Grafana -> Flask.
            <br> Explore some of my data at <a href=http://grafana.pansartax.duckdns.org>Grafana</a> !

            <iframe src="http://grafana.pansartax.duckdns.org/d-solo/8Dx8QVzRk/plant-dash-test?orgId=2&theme=light&panelId=2" width="100%" height="400" frameborder="0"></iframe>
            <hr>
            <div> Email me at norelius.olle@gmail.com, check out my <a href=https://github.com/ollenorelius>Github</a>!</div>
        </div>
        <div class="col"></div>
    </body>
</html>
